name: Build and Publish Package

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Install dependencies
        run: uv sync

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Ruff (lint)
        run: uv run ruff check src apps tests

      - name: Ruff (lint)
        run: uv run ruff format src apps tests

      - name: Pyright type checking
        run: uv run pyright

      - name: Build package
        run: uv build

      - name: Publish to Package Registry
        run: uv publish --index testpypi
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.KVKCONNECT_DEPLOY_TOKEN }}
